In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols

from sklearn.model_selection import train_test_split
import sklearn.linear_model
import sklearn.feature_selection
import sklearn.preprocessing
from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression 
from math import sqrt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import math
import numpy as np
import pandas as pd
from sklearn.feature_selection import SelectKBest, RFE, f_regression, SequentialFeatureSelector

from sklearn.model_selection import train_test_split

## 1.0  Load the tips dataset from either pydataset or seaborn.

In [2]:
from pydataset import data

tips = data('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
tips[['day']].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
dtype: int64

In [4]:
tips['sex'] = tips.sex.map({'Female': 1, 'Male': 0})
tips['smoker'] = tips.smoker.map({'Yes': 1, 'No': 0})
tips['time'] = tips.time.map({'Dinner': 1, 'Lunch': 0})
tips['day'] = tips.day.map({'Sat': 1, 'Sun': 1, 'Thur': 0, 'Fri':0})

## 1.1 Create a column named price_per_person. This should be the total bill divided by the party size.

In [6]:
tips['price_per_person'] = round(tips['total_bill'] / tips['size'],2)

In [7]:
tips

     total_bill   tip  sex  smoker  day  time  size  price_per_person
1         16.99  1.01    1       0    1     1     2              8.49
2         10.34  1.66    0       0    1     1     3              3.45
3         21.01  3.50    0       0    1     1     3              7.00
4         23.68  3.31    0       0    1     1     2             11.84
5         24.59  3.61    1       0    1     1     4              6.15
..          ...   ...  ...     ...  ...   ...   ...               ...
240       29.03  5.92    0       0    1     1     3              9.68
241       27.18  2.00    1       1    1     1     2             13.59
242       22.67  2.00    0       1    1     1     2             11.34
243       17.82  1.75    0       0    1     1     2              8.91
244       18.78  3.00    1       0    0     1     2              9.39

[244 rows x 8 columns]

## 1.2 Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

I think the total bill, tip and price per person are most important for predicting the tip amount.

## 1.3  Use select k best to select the top 2 features for predicting tip amount. What are they?

In [8]:
# split on tips data, 80/20 train test split. 
train, test = train_test_split(tips, train_size=0.78, random_state=1349)
# 70/30 train validate split
train, validate = train_test_split(train, train_size=0.7, random_state=1349)

In [9]:
train.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person'],
      dtype='object')

In [10]:
# create X & y version of train, where y is a series with just the target variable and X are all the features. 

X_train = train[['total_bill', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person']]
y_train = train.tip

X_validate = validate[['total_bill', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person']]
y_validate = train.tip

X_test = test[['total_bill', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person']]
y_test = test.tip

In [11]:
# Scale (Make the thing)
scaler = sklearn.preprocessing.MinMaxScaler()

# Fit the scaler, (fit the thing)
scaler.fit(X_train)

# Use the scaler to transform train, validate, test (use the thing)
X_train_scaled = scaler.transform(X_train)
X_validate_scaled = scaler.transform(X_validate)
X_test_scaled = scaler.transform(X_test)

In [12]:
# Like our other sklearn objects...
kbest = SelectKBest(f_regression, k=3)
kbest.fit(X_train_scaled, y_train)

SelectKBest(k=3, score_func=<function f_regression at 0x7f8a3deb4d30>)

In [13]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns)
X_train_scaled

     total_bill  sex  smoker  day  time  size  price_per_person
0      0.211353  1.0     0.0  0.0   0.0   0.2          0.212766
1      0.406787  0.0     0.0  0.0   1.0   0.2          0.480736
2      0.543779  0.0     0.0  1.0   1.0   0.4          0.391029
3      0.661081  0.0     1.0  1.0   1.0   0.2          0.830362
4      0.572476  0.0     0.0  1.0   1.0   0.6          0.271420
5      0.412442  0.0     0.0  0.0   0.0   0.2          0.488787
6      0.157520  1.0     1.0  1.0   1.0   0.2          0.139160
7      0.302472  1.0     1.0  1.0   1.0   0.2          0.338125
8      0.284667  0.0     0.0  0.0   0.0   0.2          0.313399
9      0.440092  1.0     0.0  0.0   0.0   0.6          0.180564
10     0.169669  1.0     0.0  0.0   0.0   0.2          0.155262
11     0.785086  0.0     1.0  1.0   1.0   0.2          1.000000
12     0.135735  0.0     0.0  1.0   1.0   0.2          0.109258
13     0.210725  0.0     0.0  1.0   1.0   0.2          0.211616
14     0.459363  1.0     0.0  1.0   1.0   0.6          0.193790
15     0.187474  0.0     0.0  1.0   1.0   0.2          0.179988
16     0.264349  0.0     1.0  1.0   1.0   0.4          0.135135
17     0.266024  1.0     0.0  1.0   1.0   0.2          0.287522
18     0.369083  1.0     0.0  1.0   1.0   0.6          0.131685
19     0.798492  0.0     0.0  0.0   0.0   0.8          0.308223
20     0.190406  0.0     1.0  0.0   0.0   0.2          0.184014
21     0.143904  0.0     0.0  1.0   1.0   0.2          0.120184
22     0.437369  0.0     0.0  1.0   1.0   0.2          0.523289
23     0.257436  0.0     1.0  1.0   1.0   0.2          0.276021
24     0.542522  0.0     1.0  0.0   1.0   0.2          0.667050
25     0.056137  1.0     1.0  0.0   1.0   0.2          0.000000
26     0.270842  0.0     1.0  0.0   0.0   0.2          0.294422
27     0.465438  0.0     0.0  1.0   1.0   0.6          0.197815
28     0.463762  0.0     1.0  1.0   1.0   0.2          0.558942
29     0.777126  0.0     1.0  0.0   1.0   0.6          0.411731
30     0.421031  0.0     1.0  1.0   1.0   0.6          0.167338
31     0.654168  0.0     0.0  0.0   0.0   1.0          0.163312
32     0.147047  1.0     1.0  0.0   0.0   0.2          0.124209
33     0.419564  0.0     1.0  1.0   1.0   0.4          0.277171
34     0.329074  1.0     0.0  0.0   1.0   0.2          0.374353
35     0.291579  1.0     0.0  1.0   1.0   0.2          0.322599
36     0.192501  1.0     0.0  0.0   0.0   0.2          0.186889
37     0.507122  0.0     1.0  0.0   1.0   0.2          0.618746
38     0.498324  1.0     1.0  1.0   1.0   0.2          0.606671
39     0.360285  1.0     0.0  0.0   0.0   0.2          0.417481
40     0.266862  0.0     1.0  1.0   1.0   0.2          0.288672
41     0.885630  0.0     1.0  1.0   1.0   0.4          0.703853
42     1.000000  0.0     1.0  1.0   1.0   0.4          0.808511
43     0.136783  1.0     1.0  1.0   1.0   0.2          0.110408
44     0.259950  0.0     1.0  0.0   0.0   0.2          0.279471
45     0.318810  0.0     0.0  1.0   1.0   0.2          0.359977
46     0.343946  0.0     0.0  1.0   1.0   0.2          0.394480
47     0.350649  1.0     1.0  0.0   0.0   0.2          0.403680
48     0.260997  0.0     1.0  1.0   1.0   0.2          0.280621
49     0.115417  0.0     1.0  0.0   0.0   0.0          0.327775
50     0.318601  0.0     0.0  0.0   0.0   0.2          0.359977
51     0.270423  1.0     0.0  0.0   0.0   0.4          0.140886
52     0.412233  1.0     0.0  0.0   1.0   0.2          0.488787
53     0.559908  1.0     0.0  0.0   0.0   1.0          0.120184
54     0.471093  0.0     0.0  1.0   1.0   0.6          0.201840
55     0.565354  0.0     1.0  1.0   1.0   0.4          0.410581
56     0.173439  1.0     1.0  0.0   1.0   0.2          0.161012
57     0.245287  0.0     0.0  1.0   1.0   0.2          0.259344
58     0.838710  1.0     1.0  0.0   0.0   0.6          0.454284
59     0.213657  1.0     1.0  1.0   1.0   0.2          0.216216
60     0.375786  0.0     1.0  0.0   1.0   0.2          0.438183
61     0.152283  0.0     0.0  1.0   1.0   0.4          0.032777
62     0.291160  1.0     0.0  1.0   1.0   0.4          0.159862
63     0.492669  0.0     1.0  1.0   1.0   0.4          0.343876
64     0.944700  0.0     0.0  1.0   1.0   1.0          0.296147
65     0.000000  1.0     1.0  1.0   1.0   0.0          0.010926
66     0.311060  0.0     1.0  1.0   1.0   0.2          0.349626
67     0.205907  1.0     1.0  1.0   1.0   0.2          0.205290
68     0.444072  0.0     1.0  1.0   1.0   0.2          0.532490
69     0.216171  1.0     0.0  1.0   1.0   0.2          0.219666
70     0.228948  0.0     0.0  1.0   1.0   0.2          0.236918
71     0.373481  1.0     1.0  1.0   1.0   0.4          0.235193
72     0.113951  1.0     0.0  0.0   0.0   0.2          0.079356
73     0.326142  1.0     0.0  0.0   0.0   0.4          0.191489
74     0.413699  0.0     0.0  0.0   0.0   0.4          0.271995
75     0.239841  1.0     0.0  0.0   0.0   0.2          0.251869
76     0.614370  0.0     0.0  1.0   1.0   0.6          0.300173
77     0.152283  0.0     1.0  0.0   0.0   0.2          0.131685
78     0.293255  1.0     0.0  1.0   1.0   0.4          0.161587
79     0.620235  0.0     1.0  0.0   0.0   0.2          0.774008
80     0.155844  0.0     0.0  1.0   1.0   0.2          0.136860
81     0.364055  0.0     0.0  1.0   1.0   0.6          0.128235
82     0.386049  0.0     0.0  1.0   1.0   0.6          0.143761
83     0.602849  0.0     1.0  1.0   1.0   0.2          0.749856
84     0.360704  1.0     0.0  1.0   1.0   0.2          0.417481
85     0.166527  0.0     1.0  1.0   1.0   0.2          0.151236
86     0.318182  1.0     0.0  0.0   0.0   0.2          0.359402
87     0.327189  0.0     0.0  1.0   1.0   0.4          0.192639
88     0.599916  0.0     0.0  1.0   1.0   0.6          0.290397
89     0.431713  0.0     0.0  1.0   1.0   0.2          0.515239
90     0.110599  1.0     0.0  0.0   0.0   0.2          0.074756
91     0.246334  1.0     0.0  1.0   1.0   0.2          0.261070
92     0.288018  0.0     1.0  1.0   1.0   0.2          0.317999
93     0.201508  0.0     0.0  1.0   1.0   0.2          0.198965
94     0.661500  0.0     1.0  1.0   1.0   0.6          0.332375
95     0.624843  0.0     1.0  1.0   1.0   0.2          0.780334
96     0.948052  0.0     0.0  1.0   1.0   0.6          0.529040
97     0.946795  0.0     0.0  1.0   1.0   0.6          0.528465
98     0.364893  0.0     1.0  1.0   1.0   0.2          0.423232
99     0.359447  0.0     0.0  1.0   1.0   0.2          0.416331
100    0.304147  0.0     0.0  1.0   1.0   0.4          0.171363
101    0.151236  1.0     0.0  1.0   1.0   0.2          0.129960
102    0.277336  0.0     0.0  1.0   1.0   0.4          0.147211
103    0.258693  0.0     0.0  1.0   1.0   0.2          0.277746
104    0.208630  0.0     0.0  0.0   0.0   0.2          0.209316
105    0.465228  1.0     1.0  1.0   1.0   0.2          0.561242
106    0.280687  1.0     1.0  0.0   0.0   0.4          0.150086
107    0.378928  0.0     0.0  0.0   0.0   0.2          0.442783
108    0.349811  0.0     0.0  1.0   1.0   0.6          0.118459
109    0.234395  0.0     0.0  0.0   0.0   0.2          0.244393
110    0.590700  0.0     0.0  1.0   1.0   0.4          0.433583
111    0.257855  1.0     1.0  0.0   1.0   0.2          0.276596
112    0.161290  0.0     0.0  1.0   1.0   0.2          0.143761
113    0.525346  0.0     1.0  1.0   1.0   0.8          0.158137
114    0.239003  0.0     1.0  1.0   1.0   0.2          0.250719
115    0.315878  1.0     1.0  1.0   1.0   0.4          0.182289
116    0.567030  1.0     1.0  1.0   1.0   0.6          0.267970
117    0.746963  0.0     1.0  1.0   1.0   0.6          0.391029
118    0.276917  0.0     0.0  1.0   1.0   0.4          0.146636
119    0.450775  1.0     0.0  1.0   1.0   0.6          0.188039
120    0.298282  1.0     0.0  1.0   1.0   0.2          0.331800
121    0.478006  0.0     1.0  1.0   1.0   0.6          0.206440
122    0.350859  0.0     0.0  1.0   1.0   0.2          0.404255
123    0.114160  0.0     0.0  0.0   0.0   0.2          0.079356
124    0.158358  1.0     1.0  1.0   1.0   0.2          0.140311
125    0.560955  1.0     0.0  1.0   1.0   0.8          0.177688
126    0.573733  0.0     1.0  1.0   1.0   0.8          0.184589
127    0.369083  0.0     0.0  1.0   1.0   0.8          0.072455
128    0.505446  0.0     0.0  0.0   0.0   0.6          0.225417
129    0.270423  0.0     0.0  0.0   0.0   0.2          0.293847
130    0.213867  0.0     0.0  1.0   1.0   0.2          0.216216
131    0.146628  0.0     0.0  1.0   1.0   0.2          0.124209
132    0.320067  0.0     0.0  1.0   1.0   0.6          0.098332

In [14]:
#X_train_scaled.rename(columns={0: "total_bill", 1: "sex", 2: "smoker", 3:"day", 4:"time", 5:"size", 6: "price_per_person"},inplace=True)

In [16]:
kbest_results = pd.DataFrame(dict(p=kbest.pvalues_, f=kbest.scores_), index=X_train_scaled.columns)
kbest_results

                             p           f
total_bill        5.994078e-24  154.843650
sex               4.127594e-02    4.247954
smoker            7.651684e-01    0.089594
day               2.081084e-01    1.600286
time              1.961835e-01    1.687721
size              3.246965e-10   46.328161
price_per_person  4.293164e-06   23.022395

In [17]:
X_train_scaled.columns[kbest.get_support()]

Index(['total_bill', 'size', 'price_per_person'], dtype='object')

In [18]:
X_train.columns[kbest.get_support()]

Index(['total_bill', 'size', 'price_per_person'], dtype='object')

In [117]:
X_train_transformed = pd.DataFrame(
    kbest.transform(X_train),
    index=X_train.index,
    columns=X_train.columns[kbest.get_support()]
)
X_train_transformed.head()

     total_bill  size  price_per_person
140       13.16   2.0              6.58
92        22.49   2.0             11.24
240       29.03   3.0              9.68
180       34.63   2.0             17.32
45        30.40   4.0              7.60

In [118]:
X_train_transformed = pd.DataFrame(
    kbest.transform(X_train_scaled),
    index=X_train_scaled.index,
    columns=X_train.columns[kbest.get_support()]
)
X_train_transformed.head()

   total_bill  size  price_per_person
0    0.211353   0.2          0.212766
1    0.406787   0.2          0.480736
2    0.543779   0.4          0.391029
3    0.661081   0.2          0.830362
4    0.572476   0.6          0.271420

## 1.4 Use recursive feature elimination to select the top 2 features for tip amount. What are they?

In [70]:
from sklearn.linear_model import LinearRegression

In [71]:
model = LinearRegression()
rfe = RFE(model, n_features_to_select=2)
rfe.fit(X_train, y_train)

RFE(estimator=LinearRegression(), n_features_to_select=2)

In [72]:
pd.DataFrame({'rfe_ranking': rfe.ranking_}, index=X_train.columns)

                  rfe_ranking
total_bill                  2
sex                         5
smoker                      1
day                         6
time                        4
size                        1
price_per_person            3

In [73]:
X_train.columns[rfe.get_support()]

Index(['smoker', 'size'], dtype='object')

In [74]:
X_train_transformed = pd.DataFrame(
    rfe.transform(X_train),
    index=X_train.index,
    columns=X_train.columns[rfe.support_]
)
X_train_transformed.head()

     smoker  size
140     0.0   2.0
92      0.0   2.0
240     0.0   3.0
180     1.0   2.0
45      0.0   4.0

In [120]:
model = LinearRegression()
rfe = RFE(model, n_features_to_select=2)
rfe.fit(X_train_scaled, y_train)



X_train_transformed = pd.DataFrame(
    rfe.transform(X_train),
    index=X_train_scaled.index,
    columns=X_train_scaled.columns[rfe.support_]
)
X_train_transformed.head()

   total_bill  price_per_person
0       13.16              6.58
1       22.49             11.24
2       29.03              9.68
3       34.63             17.32
4       30.40              7.60

In [122]:
pd.DataFrame({'rfe_ranking': rfe.ranking_}, index=X_train_scaled.columns)

                  rfe_ranking
total_bill                  1
sex                         5
smoker                      3
day                         6
time                        4
size                        2
price_per_person            1

In [121]:
X_train.columns[rfe.get_support()]

Index(['total_bill', 'price_per_person'], dtype='object')

## 1.5 Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

## 2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [22]:
def select_kbest(X, y, k): 
    kbest = sklearn.feature_selection.SelectKBest(sklearn.feature_selection.f_regression, k=k)

    # fit the object
    kbest.fit(X, y)
    
    # use the object (.get_support() is that array of booleans to filter the list of column names)
    return X.columns[kbest.get_support()].tolist()

In [23]:
select_kbest(X_train_scaled, y_train, 3)

['total_bill', 'size', 'price_per_person']

##  3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [24]:
def select_rfe(X, y, k):
    # make the thing
    lm = sklearn.linear_model.LinearRegression()
    rfe = sklearn.feature_selection.RFE(lm, n_features_to_select=k)

    # Fit the thing
    rfe.fit(X, y)
    
    # use the thing
    features_to_use = X.columns[rfe.support_].tolist()
    
    # we need to send show_feature_rankings a trained/fit RFE object
    all_rankings = show_features_rankings(X, rfe)
    
    return features_to_use, all_rankings

## 4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [25]:
swiss = data('swiss')
swiss.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Courtelary,80.2,17.0,15,12,9.96,22.2
Delemont,83.1,45.1,6,9,84.84,22.2
Franches-Mnt,92.5,39.7,5,5,93.40,20.2
Moutier,85.8,36.5,12,7,33.77,20.3
Neuveville,76.9,43.5,17,15,5.16,20.6

In [26]:
swiss.columns

Index(['Fertility', 'Agriculture', 'Examination', 'Education', 'Catholic',
       'Infant.Mortality'],
      dtype='object')

In [28]:
X_train = swiss[['Agriculture', 'Examination', 'Education', 'Catholic',
       'Infant.Mortality']]
y_train = swiss[['Fertility']]

In [30]:
# Scale (Make the thing)
scaler = sklearn.preprocessing.MinMaxScaler()

# Fit the scaler, (fit the thing)
scaler.fit(X_train)

# Use the scaler to transform train, validate, test (use the thing)
X_train_scaled = scaler.transform(X_train)

In [31]:
kbest = SelectKBest(f_regression, k=3)
kbest.fit(X_train_scaled, y_train)

SelectKBest(k=3, score_func=<function f_regression at 0x7f8a3deb4d30>)

In [33]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns)

In [34]:
X_train_scaled.columns[kbest.get_support()].tolist()

['Examination', 'Education', 'Catholic']

In [38]:
lm = sklearn.linear_model.LinearRegression()
rfe = sklearn.feature_selection.RFE(lm, n_features_to_select=2)

    # Fit the thing
rfe.fit(X_train_scaled, y_train)

RFE(estimator=LinearRegression(), n_features_to_select=2)

In [40]:
model = LinearRegression()
rfe = RFE(model, n_features_to_select=2)
rfe.fit(X_train, y_train)

RFE(estimator=LinearRegression(), n_features_to_select=2)

In [41]:
X_train_transformed = pd.DataFrame(
    rfe.transform(X_train),
    index=X_train_scaled.index,
    columns=X_train_scaled.columns[rfe.support_]
)
X_train_transformed.head()

   Education  Infant.Mortality
0       12.0              22.2
1        9.0              22.2
2        5.0              20.2
3        7.0              20.3
4       15.0              20.6

In [42]:
pd.DataFrame({'rfe_ranking': rfe.ranking_}, index=X_train_scaled.columns)

                  rfe_ranking
Agriculture                 3
Examination                 2
Education                   1
Catholic                    4
Infant.Mortality            1

In [44]:
X_train_scaled.columns[rfe.get_support()]

Index(['Education', 'Infant.Mortality'], dtype='object')